extends _template.pug



block head
  head
    +head(head.about)


block header
  +header('', '', 'breadcrumb', 'Про проект')(class="header_inner-page")


block content
  main.l-main-content

    article.section-area.user-content
      .container
        h1 Про проект
        p Інтерактивна мапа надає можливість громадянам надіслати звернення з геоприв’язкою та фотоматеріалами щодо виявлених місць стихійних сміттєзвалищ. Мінприроди забезпечить оперативне надходження такої інформації до місцевих органів влади, які відповідають за їх своєчасну ліквідацію. Інформація щодо статусу опрацювання звернення та відповідних заходів місцевих органів влади відображатиметься у персональному кабінеті.
        p Інтерактивна мапа надає можливість громадянам надіслати звернення з геоприв’язкою та фотоматеріалами щодо виявлених місць стихійних сміттєзвалищ. Мінприроди забезпечить оперативне надходження такої інформації до місцевих органів влади, які відповідають за їх своєчасну ліквідацію. Інформація щодо статусу опрацювання звернення та відповідних заходів місцевих органів влади відображатиметься у персональному кабінеті.

        h2 Окремими шарами на карті показані дані реєстру

        ul
          li Місць видалення відходів
          li Місць стихійних сміттєзвалищ
          li Забруднення повітря

        p Інтерактивна мапа надає можливість громадянам надіслати звернення з геоприв’язкою та фотоматеріалами щодо виявлених місць стихійних сміттєзвалищ. Мінприроди забезпечить оперативне надходження такої інформації до місцевих органів влади, які відповідають за їх своєчасну ліквідацію. Інформація щодо статусу опрацювання звернення та відповідних заходів місцевих органів влади відображатиметься у персональному кабінеті.
        p Інтерактивна мапа надає можливість громадянам надіслати звернення з геоприв’язкою та фотоматеріалами щодо виявлених місць стихійних сміттєзвалищ. Мінприроди забезпечить оперативне надходження такої інформації до місцевих органів влади, які відповідають за їх своєчасну ліквідацію. Інформація щодо статусу опрацювання звернення та відповідних заходів місцевих органів влади відображатиметься у персональному кабінеті.


    // end .user-content
    |
    |




  // end .main-content
  |
  |
