extends _template.pug

include ../components/b-main-search/b-main-search
include ../components/b-card/b-card

block head
  head
    +head(head.home)
  |
  |


block header
  +header('', '', 'breadcrumb', 'Перевірка виконання')

block content
  main.l-main-content
    section.section-area.mb-5.pb-5
      .container
        h1.ui-title-page Перевірка виконання
        +b-main-search_err()

    // end .section-area
    |
    |
  // end .main-content
  |
  |



block scripts
  // Input effects
  script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")

