extends _template.pug

include ../components/b-main-search/b-main-search
include ../components/b-card/b-card

block head
  head
    +head(head.home)
  |
  |


block header
  +header('', '', 'breadcrumb', 'Перевірка виконання')

block content
  main.l-main-content
    section.section-area.mb-xl-5.pb-5
      .container
        h1.ui-title-page Перевірка виконання
        +b-main-search()


      section.section-default
        .container
          h2.ui-title В роботі

        .container
          .b-card-group.row.md_hidden_4-col
            .col-xl-3.col-lg-4.col-md-6
              +b-card('270x217/3', 'Захистна споруда на території Міської лікарні швидкої медичної допомоги', 'вулиця Подільська, 10', '9 Жовтня 2018')
            .col-xl-3.col-lg-4.col-md-6
              +b-card('270x217/4', 'Захистна споруда ДП «Покровський науково-виробничий комплекс»', 'вулиця Космічна, 13', '9 Жовтня 2018')

      // end .section-default
      |
      |


      section.section-default.d-none.d-lg-block
        .container
          h2.ui-title Виконані

        .container
          .b-card-group.row
            .col-xl-3.col-lg-4.col-md-6
              +b-card('270x217/1', 'Протирадіаційне укриття на території Депо ВСП ВЧД-25', 'вулиця Енергетиків, 28б', '9 Жовтня 2018')
            .col-xl-3.col-lg-4.col-md-6
              +b-card('270x217/2', 'Захистна споруда у Степанівській середня школа', 'село Степанівка, вулиця Степна, 44', '24 Жовтня 2018')
            .col-xl-3.col-lg-4.d-md-none.d-lg-block
              +b-card('270x217/3', 'Захистна споруда на території Міської лікарні швидкої медичної допомоги', 'вулиця Подільська, 10', '11 Січня 2019')
            .col-xl-3.d-none.d-xl-block
              +b-card('270x217/4', 'Захистна споруда ДП «Покровський науково-виробничий комплекс»', 'вулиця Космічна, 13', '16 Листопада 2017')

      // end .section-default
      |
      |

    // end .section-area
    |
    |

  // end .main-content
  |
  |



block scripts
  // Input effects
  script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")

