extends _template.pug

include ../components/b-brand/b-brand

include ../components/b-map/b-map
include ../components/b-card/b-card
include ../components/b-welcome/b-welcome
include ../components/b-contacts/b-contacts
include ../components/b-links/b-links

block head
  head
    +head(head.home)
  |
  |


block header
  +header('headerMain', '', '', '', 'userLogin')

block content
  main.l-main-content

    +b-map()

    +b-welcome()


    section.section-default
      .container
        .ui-title-block.row.align-items-end.align-items-sm-start
          .col
            h2.ui-title Останні додані споруди
          .col-auto
            .ui-title-links
              a.ui-title-links__item(href="#") Усі захистні споруди

      .container
        .b-card-group.row
          .col-xl-3.col-lg-4.col-md-6
            +b-card('270x217/1', 'Протирадіаційне укриття на території Депо ВСП ВЧД-25', 'вулиця Енергетиків, 28б', '9 Жовтня 2018')
          .col-xl-3.col-lg-4.col-md-6
            +b-card('270x217/2', 'Захистна споруда у Степанівській середня школа', 'село Степанівка, вулиця Степна, 44', '24 Жовтня 2018')
          .col-xl-3.col-lg-4.d-md-none.d-lg-block
            +b-card('270x217/3', 'Захистна споруда на території Міської лікарні швидкої медичної допомоги', 'вулиця Подільська, 10', '11 Січня 2019')
          .col-xl-3.d-none.d-xl-block
            +b-card('270x217/4', 'Захистна споруда ДП «Покровський науково-виробничий комплекс»', 'вулиця Космічна, 13', '16 Листопада 2017')


    .section-default.bg-grad
      .container
        .row
          .col-xl-8
            section.section-area
              h2.ui-title Довідкова інформація
              +b-links()

          .col-xl-4
            section.section-contacts
              h2.ui-title  Контакти
              +b-contacts-sm()


    section.section-default
      .container
        .row
          .col
            h2.ui-title.text-center Корисні посилання
        .row.b-brand-group
          .col-lg-4.col-md-6
            +b-brand('1', 'Верховна Рада України')
          .col-lg-4.col-md-6
            +b-brand('2', 'Президент України')
          .col-lg-4.col-md-6
            +b-brand('1', 'Кабінет Міністрів України')
          .col-lg-4.col-md-6
            +b-brand('3', 'Донецька ОДА')
          .col-lg-4.col-md-6
            +b-brand('4', 'Єдиний державний веб-портал відкритих даних')
          .col-lg-4.col-md-6
            +b-brand('5', 'Міністерство охорони здоров’я України')



  // end .main-content
  |
  |


block scripts
  // File input customization
  script(src="assets/plugins/dropzone.js")
  // Input effects
  script(src="https://cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.js")

  //- // User map
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmDUSpdbb5n48MiJG3AF38f4AQcXFg8V0")
  //- // Maps customization
  script(src='assets/js/map-large.js')
  script(src='assets/js/infobubble.js')

  // Filter and sorting
  script(src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
  script(src="assets/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.uk.min.js")


