mixin b-post(img, name, info)

  a.b-post(href="#" class!=attributes.class)
    .b-post__media
      img.b-post__img.img-scale(src="assets/media/content/b-post/" + img + ".jpg", alt="foto")

    .b-post__main
      .b-post__title= name
      .b-post__info= info
      .b-post__meta
        span.b-post__meta-item.ui-meta
          != pugHelpers.Icon.call(locals, {iconName: 'visible', className: 'ic fill-gray', iconWidth: '30', iconHeight: '30'})
          |  846
        span.b-post__meta-item.ui-meta Новини
        time.b-post__meta-item.b-post__meta-date.ui-meta(datetime="2018-07-24T14:08") 24.07.2018
          span.b-post__meta-clock  - 14:08

  // end .b-post
  |

mixin b-post_row(img, name, info, data)

  .b-post.b-post_row(class!=attributes.class)
    .b-post__inner
      .b-post__media
        img.b-post__img.img-scale(src="assets/media/content/b-post/" + img + ".jpg", alt="foto")

      .b-post__main
        a.b-post__title(href="#")= name
        .b-post__info= info
        .b-post__meta
          time.b-post__meta-item.ui-meta(datetime="2018-07-24T14:08")= data
          span.b-post__meta-item.ui-meta
            != pugHelpers.Icon.call(locals, {iconName: 'visible', className: 'ic fill-gray', iconWidth: '24', iconHeight: '24'})
            |  846

  // end .b-post
  |


mixin b-post-full()

  article.b-post-f
    .b-post-f__inner
      figure.b-post-f__figure
        span.b-post-f__figure-title.d-block.d-md-none Фото
        img.figure-img.img-scale(src="assets/media/content/b-post/672x384/1.jpg", alt="foto")
        figcaption.b-post-f__figure-caption.figure-caption
          span.b-post-f__figure-label Фотогалеря
          | Юрист БФ «Право на захист» Володимир Орехов
      .b-post-f__main
        h1.b-post-f__title.ui-title-page Скажемо «ні» тіньовій зайнятості
        .b-post-f__content
          p 25 липня 2018 року у  Бахмутському міському центрі зайнятості відбувся профінформаційний семінар «Легальна зайнятість» за участю представників благодійного фонду «Право на захист».
          blockquote.b-post-f__blockquote
            p Розпочала семінар фахівець Бахмутського МЦЗ Олена Тарасенко, яка надала присутнім роз’яснення щодо порядку укладання трудового договору, цивільно-правової угоди, навела приклади переваги легальної зайнятості та проінформувала про види шахрайства в Україні»
          h2.ui-title-inner Мета заходу
          p Розкрити  переваги легального працевлаштування в Україні та застерегти від шахрайства при працевлаштуванні. На семінарі були присутні 23 безробітних, які перебувають на обліку в Бахмутському МЦЗ.



    footer.b-post-f__footer.bg-light
      .row.align-items-center
        .b-post-f__footer-title.col-auto Поділитися:
        .b-post-f__footer-links.col-auto
          ul.soc-link.list-inline
            li.soc-link__item.list-inline-item
              a.soc-link__link(href="#")
                i.ic.fab.fa-facebook-f
            li.soc-link__item.list-inline-item
              a.soc-link__link(href="#")
                i.ic.fab.fa-twitter

  // end b-post
  |
