.b-main-search {
  padding: 13px 10px;
  border-radius: 4px;
  background-color: #f4f7fb;
  margin-bottom: 10px;

  &__select {
    width: 240px;
    margin-bottom: 0;
    .btn {
      border: none;
      font-weight: 600;
      background: transparent;
      box-shadow: none;
      color: #3b4256;
    }
  }
  &__inner {
    padding-right: 90px;
    position: relative;
  }
  &__input {
    width: 100%;
    height: 100%;
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: #DDE1E6;
    padding-left: 24px;
    color: #848e99;
    background-color: transparent;
    padding-right: 60px;
    font-weight: 600;
    &[type="search"] {
      box-sizing: border-box;
    }

    @include placeholder {
      color: #848e99;
    }
  }
  &__btn {
    position: absolute;
    right: 15px;
    top: calc(50% - 24px);
    padding-left: 25px;
    padding-right: 25px;
  }

  &__result {
    margin-top: 45px;
    color: #848e99;
    font-size: 1.5rem;
    letter-spacing: -0.012rem;
  }

  @include media-breakpoint-down(sm) {
    padding-left: 15px;
    padding-right: 15px;
    background-color: transparent;
    &__inner {
      margin-top: 30px;
      padding-left: 15px;
      padding-right: 15px;
    }
    &__input {
      padding: 20px 15px;
      height: auto;
      border-radius: 4px;
      border: none;
      background-color: #F4F7FB;
    }
    &__select {
      width: 100%;
      .btn {
        background-color: #F4F7FB;
      }
    }
    &__btn {
      position: relative;
      top: 0;
      right: auto;
      width: 100%;
      margin-top: 30px;
    }
  }
}
