mixin b-card(img, name, address, date)

  a.b-card(href="#" class!=attributes.class)
    .b-card__media
      img.b-card__img.img-scale(src="assets/media/content/b-card/" + img + ".jpg", alt="foto")

    .b-card__main
      .b-card__inner
        .b-card__title= name
        .b-card__descrip
          .b-card__descrip-item.ui-meta
            != pugHelpers.Icon.call(locals, {iconName: 'location', className: 'ic svg-fill-light', iconWidth: '24', iconHeight: '24'})
            !=  address
            span.d-block 48.135936, 37.744862

          .b-card__descrip-item.ui-meta
            != pugHelpers.Icon.call(locals, {iconName: 'calendar', className: 'ic svg-fill-light', iconWidth: '24', iconHeight: '24'})
            != date

  // end .b-card
  |
  |
