.b-card {
  background-color: $color-gray;
  border-radius: 4px;
  color: $color-main;
  display: block;
  transition: all .3s;
  padding-bottom: 5px;
  margin-bottom: 24px;
  overflow: hidden;

  &:hover {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 7, 123, 0.04), 0 0.5rem 1.25rem rgba(0, 0, 0, 0.21);
    background-color: #FFF;
    text-decoration: none;
    color: $color-main;
  }

  &__media {
    height: 217px;
    width: 100%;
  }
  &__main {}
  &__inner {
    padding: 12px 0 20px;
  }
  &__title {
    padding-left: 10px;
    padding-right: 10px;
    height: 7.25rem;
    overflow: hidden;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    transition: all .3s;
    margin-bottom: 15px;
  }
  &__descrip {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 22px;
    border-top: 1px solid rgba(24, 31, 46, .05);
  }
  &__descrip-item {
    position: relative;
    padding-left: 30px;
    line-height: 1.25rem;
    white-space: nowrap;
    overflow: hidden;
    color: #848e99;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    .ic {
      position: absolute;
      left: -2px;
      top: -2px;
      fill: #848e99;
    }
  }
  &__footer {
    height: 3.43rem;
    overflow: hidden;
    padding: 10px;
    border-top: 1px solid rgba(24, 31, 46, .05);
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 30px;
  }
}
