.b-links {
  &__item {
    background-color: #FFF;
    border-radius: 4px;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.44;
    color: $color-main;
    position: relative;
    display: block;
    padding: 20px 100px 24px 30px;
    margin-bottom: 38px;
    .ic {
      fill: #3B4256;
      position: absolute;
      right: 20px;
      top: 17px;
      opacity: 0.5;
    }

    &:hover {
      text-decoration: none;
      opacity: 0.5;
      color: $color-main;
    }
  }
}
