mixin b-links()

  .b-links(class!=attributes.class)
    a.b-links__item(href="#") Як додати захистні споруди до сайту?
      != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_180', iconWidth: '30', iconHeight: '30'})
    a.b-links__item(href="#") Що потрібно робити, якщо почули тривожну сирену у себе в місті?
      != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_180', iconWidth: '30', iconHeight: '30'})
    a.b-links__item(href="#") Правила поведінки під час радіаційної тревоги
      != pugHelpers.Icon.call(locals, {iconName: 'keyboard-arrow', className: 'ic ic-rot_180', iconWidth: '30', iconHeight: '30'})


  // end .b-links
  |
  |
