.b-appeal {
  font-size: 1.125rem;
  &__title {
    margin-right: 0;
    margin-bottom: 12px;
  }
  &__map {
    height: 100%;
  }
  &__header {
    display: flex;
    align-items: baseline;
    margin-bottom: 15px;
  }
  &__edit-btn {
    margin-right: 20px;
    display: block;
    width: auto;
  }
  &__btn-add {
    font-size: 1rem;
    font-weight: 600;
    color: $color-main;
    fill: $color-main;

    &:hover {
      text-decoration: none;
      opacity: 0.5;
    }
  }
  &__adds {
    margin-top: 23px;
    padding-bottom: 28px;
    margin-bottom: 23px;
    border-bottom: 1px solid #DDE1E6;
  }
  &__adds-title {
    font-size: .875rem;
    line-height: 1.71;
    color: $color-light;
    margin-bottom: 15px;
  }
  &__adds-info {
    font-size: 1.125rem;
    line-height: 1.44;
  }
  .ui-meta {
    white-space: nowrap;
    display: inline-block;
    vertical-align: text-bottom;
  }
  &__meta-item {
    margin-right: 30px;
    color: $color-light;
    font-size: 0.875rem;
    line-height: 1.25rem;
    .ic {
      margin-right: 8px;
      fill: #c7ccd1;
      display: inline-block;
      vertical-align: bottom;
    }
  }
  &__download {
    display: block;
    margin-top: 13px;
    .ui-meta {
      fill: $color-light;
      margin-right: 30px;
      display: inline-block;
      &:hover {
        color: #315efb;
        fill: #315efb;
        text-decoration: none;
      }
      .ic {
        margin-left: 14px;
        display: inline-block;
        vertical-align: bottom;
      }
    }
  }
  &__main {
    p + p {
      margin-top: 18px;
    }
  }

  &__note {
    font-size: .875rem;
  }
  &__descrip {
    padding-top: 25px;
  }
  &__descrip-item {
    margin-bottom: 25px;
  }
  &__descrip-title {
    color: $color-light;
    font-size: 0.875rem;
  }
  &__descrip-info {
    font-size: 1rem;
  }

  @include media-breakpoint-down(md) {
    &__map {
      height: 328px;
      margin-top: 30px;
    }
  }

  @include media-breakpoint-down(sm) {
    &__second {
      padding: 15px 15px 0;
    }
    &__descrip {
    }
    &__title {
      margin-bottom: 0;
    }
    &__btn-add {
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
}

.b-appeal-carousel {
  &__main {}
  &__main-item {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    }
  }
  &__nav {
    margin-top: 16px;
  }
  &__nav-item {
    border: 8px solid $color-gray;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 9px;
    transition: all .3s;
  }
}

.section-comment {
  margin-top: 25px;
  padding-bottom: 40px;
  &__btn-more {
    margin-top: 20px;
  }
}

.comments-list {
  padding-top: 28px;
  .children {
    margin-left: 60px;
    .comment {
      border-radius: 4px;
      border: 1px solid #dde1e6;
    }
  }
  .comment {
    margin-bottom: 17px;
    padding: 8px 20px 30px;
    position: relative;
  }
  .comment-main {
    font-size: .875rem;
    padding-right: 20px;
  }
  .comment-face {
    display: inline-block;
    vertical-align: middle;
    width: 48px;
    height: 48px;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 11px 10px rgba(0, 0, 0, 0.11);
  }
  .comment-inner {
    padding-left: 105px;
  }
  .comment-header {
    margin-bottom: 2px;
    padding-top: 13px;
    align-items: center;
  }
  .comment-author {
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    font-size: 1.125rem;
    font-weight: 600;
  }
  .comment-label {
    border-radius: 4px;
    background-color: #d8d8d8;
    color: $color-light;
    font-size: .875rem;
    font-weight: 400;
    margin-left: 20px;
    padding: 2px 15px;
    margin-top: -20px;
    display: inline-block;
    vertical-align: 85%;
  }
  .comment-datetime {
    color: $color-light;
    float: left;
  }
  .comment-body {
    color: $color-light;
  }
  .comment-btn {
    color: $color-main;
    float: right;
  }
  .comment-footer {
    margin-top: 10px;
    @include cl;
    &__inner {
      padding-bottom: 14px;
      @include cl;
    }
    &__upload {
      margin-top: 24px;
    }
    &__gallery {
      margin-top: 47px;
    }
    &__link {
      color: $color-light;
      font-size: 1rem;
      display: inline-block;
      margin-right: 42px;
      &:hover {
        text-decoration: none;
      }
    }
    &__img {
      margin-right: 10px;
      margin-bottom: 10px;
      display: inline-block;
      border-radius: 4px;
      border: 8px solid #ffffff;
    }
  }

  @include media-breakpoint-down(sm) {
    .comment-face {
      display: none;
    }
    .comment-main {
      padding-right: 0;
    }
    .comment-header {
      margin-bottom: 7px;
    }
    .children {
      margin-left: 30px;
    }
    .comment-label {
      margin-top: 0;
    }
    .comment-footer {
      &__img {
        width: 90px;
      }
    }
    .comment-datetime {
      float: none;
      display: block;
      margin-top: 15px;
    }
    .comment-btn {
      float: none;
      display: block;
      margin-top: 10px;
    }
    .comment-footer {
      &__upload {
        margin-top: 0;
      }
      &__link {
        margin-right: 0;
        margin-bottom: 5px;
      }
    }
  }
}



.section-reply-form {
  margin-top: 70px;
  padding-top: 20px;
  padding-bottom: 30px;

  @include media-breakpoint-down(md) {
    margin-top: 50px;
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 20px;
  }
}

.form-reply {
  background-color: #FFF;
  padding: 30px 30px 1px;
  &__title {
    font-size: 1.5rem;
    margin-bottom: 34px;
  }
  &__submit {
    float: right;
  }
  &__upload {
    float: left;
  }
  .form-control {
    background-color: $color-gray;
    border-color: transparent;
    &:focus {
      border-color: #6391f6;
    }
  }
  &__row {
    margin-top: 24px;
    @include cl;
  }

  @include media-breakpoint-down(sm) {
    padding-left: 15px;
    padding-right: 15px;
    .ui-upload-name {
      width: 100%;
      margin-bottom: 10px;
    }
    .form-group {
      margin-bottom: 15px;
    }
    &__title {
      margin-bottom: 15px;
    }
    .ui-status {
      margin-bottom: 20px;
    }
  }
}
