include ../navig/navig
include ../b-soc-link/b-soc-link
include ../b-accessibility/b-accessibility

mixin header(headerMain, alert, breadcrumb, lastLink, userLogin)

  header.header(class!=attributes.class)
    .header__inner
      .header-top
        .container-fluid
          .row
            .col-12
              .header__gov.d-none.d-lg-inline-block
                a.gov-logo.gov-logo-dark(data-toggle="modal" href="#modalGov")
                  .icon-flag
                    .yellow
                    .blue
                  .wrap-text
                    span.one gov.ua
                    span.light Державні сайти України

              .header-logo.d-lg-none
                .header-logo__item
                  a.header-logo__link(href="#")
                    img.img-fluid(src="assets/media/general/logo-region.png", alt="Герб")

              +b-soc-link(class="d-none d-lg-block")

              .header-top__title-mobile Захистні споруди


              .header-top__inner
                button.navbar-toggler.d-lg-none(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключити навігацію")
                  != pugHelpers.Icon.call(locals, {iconName: 'menu', className: 'ic', iconWidth: '30', iconHeight: '30'})

                form.header-search.d-none.d-lg-inline-block
                  input.header-search__input(type="text" placeholder="Пошук")
                  button.header-search__btn
                    != pugHelpers.Icon.call(locals, {iconName: 'search', className: 'ic', iconWidth: '24', iconHeight: '24'})

                .header-language.dropdown.d-none.d-lg-inline-block
                  a.header-language__link#dropdownLanguage(data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false")
                    != pugHelpers.Icon.call(locals, {iconName: 'language', className: 'ic', iconWidth: '30', iconHeight: '30'})
                  .header-language__body.dropdown-menu(aria-labelledby="dropdownLanguage")
                    a.header-language__item(href="#")
                      img.header-language__flag(src="assets/media/general/flag-ua.png", alt="Українська")
                      span.header-language__name Українська
                    a.header-language__item(href="#")
                      img.header-language__flag(src="assets/media/general/flag-en.png", alt="English")
                      span.header-language__name English
                  // end .header-language
                  |
                  |

                a.header__accessibility(data-toggle="collapse" href="#wcag-panel" role="button" aria-expanded="false")
                  != pugHelpers.Icon.call(locals, {iconName: 'hide', className: 'ic', iconWidth: '40', iconHeight: '40'})

                .header-user.dropdown.d-none.d-lg-inline-block
                  a.header-user__link.dropdown-toggle#dropdownUser(data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false")
                    != pugHelpers.Icon.call(locals, {iconName: 'user-big', className: 'ic', iconWidth: '30', iconHeight: '30'})
                    if userLogin
                      | Рева О. О.
                    else
                      | Вхід

                  .header-user__body.dropdown-menu.dropdown-menu-right(aria-labelledby="dropdownUser")
                    .header-user__content
                      if userLogin
                        .header-user__img
                          img.img-scale(src="assets/media/content/header/header-user.jpg", alt="foto")
                        .header-user__inner
                          .header-user__title Рева
                            span.header-user__subtitle Олександр Олександрович
                          a.header-user__btn.btn.btn-default(href="#") Налаштування
                          a.header-user__btn.btn.btn-default(href="#") Вихiд
                      else
                        .header-user__links
                          .header-user__links-item
                            a.header-user__links-nav(href="#") Вхiд
                          .header-user__links-item
                            a.header-user__links-nav(href="#") Реєстрація
                  // end .header-user
                  |
                  |

      // end .header-top
      |
      |

      +b-accessibility()

      .header-main
        .collapse.navbar-collapse.d-lg-block#navbarSupportedContent
          .container
            .row
              .col-12
                .header-main__inner
                  if headerMain
                    .row.align-items-end
                      .col-xl-5.col-lg
                        .header__gov.d-lg-none
                          a.gov-logo.gov-logo-dark(data-toggle="modal" href="#modalGov")
                            .icon-flag
                              .yellow
                              .blue
                            .wrap-text
                              span.one gov.ua
                              span.light Державні сайти України

                        .header-title
                          .header-title__item
                            a.header-title__link(href="#")
                              img.img-fluid(src="assets/media/general/logo-region.png", alt="Герб")
                            .header-title__inner
                              .header-title__main Захистні споруди
                              .header-title__subtitle ЛугВЦОДА

                      .col-xl-7.col-lg-auto

                        nav.header-nav.navbar.navbar-expand-lg
                          +navig()

                      .col-12.d-lg-none

                        form.header-search
                          input.header-search__input(type="text" placeholder="Пошук")
                          button.header-search__btn
                            != pugHelpers.Icon.call(locals, {iconName: 'search', className: 'ic', iconWidth: '24', iconHeight: '24'})

                        .header-language.dropdown
                          a.header-language__link#dropdownLanguageMob(data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false")
                            != pugHelpers.Icon.call(locals, {iconName: 'language', className: 'ic', iconWidth: '30', iconHeight: '30'})
                          .header-language__body.dropdown-menu(aria-labelledby="dropdownLanguageMob")
                            a.header-language__item(href="#")
                              img.header-language__flag(src="assets/media/general/flag-ua.png", alt="Українська")
                              span.header-language__name Українська
                            a.header-language__item(href="#")
                              img.header-language__flag(src="assets/media/general/flag-en.png", alt="English")
                              span.header-language__name English
                          // end .header-language
                          |
                          |
                        .header-user.dropdown
                          a.header-user__link.dropdown-toggle#dropdownUserMob(data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false")
                            != pugHelpers.Icon.call(locals, {iconName: 'user-big', className: 'ic', iconWidth: '30', iconHeight: '30'})
                            | Рева О. О.
                          .header-user__body.dropdown-menu.dropdown-menu-right(aria-labelledby="dropdownUserMob")
                            .header-user__content
                              if userLogin
                                .header-user__img
                                  img.img-scale(src="assets/media/content/header/header-user.jpg", alt="foto")
                                .header-user__inner
                                  .header-user__title Рева
                                    span.header-user__subtitle Олександр Олександрович
                                  a.header-user__btn.btn.btn-default(href="#") Налаштування
                                  a.header-user__btn.btn.btn-default(href="#") Вихiд
                              else
                                .header-user__links
                                  .header-user__links-item
                                    a.header-user__links-nav(href="#") Вхiд
                                  .header-user__links-item
                                    a.header-user__links-nav(href="#") Реєстрація
                          // end .header-user
                          |
                          |


                        +b-soc-link()

                      button.navbar-toggler.d-lg-none(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Закрити навігацію")
                        != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'ic', iconWidth: '30', iconHeight: '30'})


                  else
                    .row.align-items-end
                      .col-xl-5.col-lg-4
                        .header__gov.d-lg-none
                          a.gov-logo.gov-logo-dark(data-toggle="modal" href="#modalGov")
                            .icon-flag
                              .yellow
                              .blue
                            .wrap-text
                              span.one gov.ua
                              span.light Державні сайти України

                        .header-title
                          .header-title__item
                            a.header-title__link(href="#")
                              img.img-fluid(src="assets/media/general/logo-region.png", alt="Герб")
                          .header-title__inner
                            .header-title__main Екологічна мапа
                            .header-title__subtitle Луганської обласної військово-цивільної адміністрації

                      .col-xl-7.col-lg-8
                        nav.header-nav.navbar.navbar-expand-lg
                          +navig()

                      .col-12.d-lg-none
                        form.header-search
                          input.header-search__input(type="text" placeholder="Пошук")
                          button.header-search__btn
                            != pugHelpers.Icon.call(locals, {iconName: 'search', className: 'ic', iconWidth: '24', iconHeight: '24'})

                        .header-language.dropdown
                          a.header-language__link#dropdownLanguage(data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false")
                            != pugHelpers.Icon.call(locals, {iconName: 'language', className: 'ic', iconWidth: '30', iconHeight: '30'})
                          .header-language__body.dropdown-menu(aria-labelledby="dropdownLanguage")
                            a.header-language__item(href="#")
                              img.header-language__flag(src="assets/media/general/flag-ua.png", alt="Українська")
                              span.header-language__name Українська
                            a.header-language__item(href="#")
                              img.header-language__flag(src="assets/media/general/flag-en.png", alt="English")
                              span.header-language__name English
                          // end .header-language
                          |
                          |
                        .header-user.dropdown
                          a.header-user__link.dropdown-toggle#dropdownUserMob(data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false")
                            != pugHelpers.Icon.call(locals, {iconName: 'user-big', className: 'ic', iconWidth: '30', iconHeight: '30'})
                            | Рева О. О.
                          .header-user__body.dropdown-menu.dropdown-menu-right(aria-labelledby="dropdownUserMob")
                            .header-user__content
                              if userLogin
                                .header-user__img
                                  img.img-scale(src="assets/media/content/header/header-user.jpg", alt="foto")
                                .header-user__inner
                                  .header-user__title Рева
                                    span.header-user__subtitle Олександр Олександрович
                                  a.header-user__btn.btn.btn-default(href="#") Налаштування
                                  a.header-user__btn.btn.btn-default(href="#") Вихiд
                              else
                                .header-user__links
                                  .header-user__links-item
                                    a.header-user__links-nav(href="#") Вхiд
                                  .header-user__links-item
                                    a.header-user__links-nav(href="#") Реєстрація
                          // end .header-user
                          |
                          |


                        +b-soc-link()

                      button.navbar-toggler.d-lg-none(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Закрити навігацію")
                        != pugHelpers.Icon.call(locals, {iconName: 'close', className: 'ic', iconWidth: '30', iconHeight: '30'})

    // end .header
    |
    |


  if breadcrumb

    .container
      nav(aria-label="breadcrumb")
        ol.breadcrumb
          li.breadcrumb-item
            a(href="#") Головна
          li.breadcrumb-item.active(aria-current="page")= lastLink
    // end .breadcrumb
    |
    |
