.header {
  transition: all .3s;
  z-index: 10;
  position: relative;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 7, 123, 0.04), 0 0.5rem 1.25rem rgba(0, 0, 0, 0.21);
  &__gov {
    float: left;
    margin-left: 14px;
  }
  .soc-link {
    float: left;
    padding-left: 20px;
    padding-top: 6px;
    &__item {
      line-height: 1;
      vertical-align: middle;
    }
    &__link {
      color: #f4f7fb;
    }
  }

  &__accessibility {
    margin-left: 17px;
    margin-right: 10px;
    display: inline-block;
    .ic {
      fill: #dde1e6;
    }
  }


  .navbar-toggler {
    float: right;
  }

  @include media-breakpoint-only(lg) {
    &_inner-page {
      .header-title__link {
        max-width: 20px;
      }
    }
  }

  @include media-breakpoint-down(md) {
    &__gov {
      margin-right: 20px;
      float: none;
    }
    .soc-link {
      padding-left: 0;
      text-align: center;
      float: none;
      margin-bottom: 15px;
      &__link {
        .ic {
          color: #fff;
        }
      }
    }

    &_inner-page {
      .header-main {
        padding-bottom: 0;
      }
    }

    &__accessibility {
      display: inline-block;
      .ic {
        fill: $color-main;
      }
    }
  }
}

.header-nav {
  padding: 7px 0 0;
}


.header-language {
  display: inline-block;
  position: relative;
  padding-top: 5px;
  &__link {
    color: #dde1e6;
    padding-bottom: 10px;
    .ic {
      fill: #f5f7fa;
    }
    &:hover {
      color: #dde1e6;
    }
  }
  &__body {
    padding: 10px 20px 10px 22px;
  }
  &__item {
    display: block;
    white-space: nowrap;
    position: relative;
    padding-left: 60px;
    &:not(:last-child) {
      .header-language__name {
        border-bottom: 1px solid #dde1e6;
        padding-bottom: 7px;
        margin-bottom: 10px;
      }
    }
  }
  &__flag {
    position: absolute;
    left: 0;
    top: 0;
  }
  &__name {
    display: block;
    font-weight: 600;
    font-size: 1.125rem;
    color: $color-main;
  }

  .ic {
    fill: #f5f7fa;
  }

  @include media-breakpoint-down(md) {
    display: block;
    text-align: center;
    padding-top: 20px;
    &__link {
      color: #fff;
      font-weight: 600;
      font-size: .875rem;
      padding-left: 0;
    }
    .ic {
      fill: #fff;
    }
    &__body {
      top: auto;
      bottom: 100%;
      left: calc(50% - 94px);
    }
  }
}


.header-search {
  position: relative;
  height: 38px;
  transition: all .3s;
  border-radius: 0.25rem;
  overflow: hidden;
  vertical-align: middle;
  padding: 5px 3px 0px 36px;
  &__input {
    display: inline-block;
    transition: all .3s;
    border: none;
    color: #fff;
    font-size: 0.875rem;
    background-color: transparent;
    width: 55px;

    @include placeholder {
      color: #dde1e6;
    }

    &:focus {
      width: 120px;
    }
  }
  &__btn {
    position: absolute;
    left: 0;
    top: 4px;
    border: none;
    background-color: transparent;
    .ic {
      fill: $color-gray;
    }
  }

  &:focus & {
    &__input {
      width: 100px;
    }
  }


  @include media-breakpoint-down(md) {
    width: 120px;
    margin: auto;

    &:focus & {
      &__input {
        width: 55px;
      }
    }
  }
}


.header-top {
  padding: 8px 0;
  background-color: #234161;
  &__inner {
    text-align: right;
    position: relative;
    float: right;
  }
  a {
    &:hover {
      text-decoration: none;
      opacity: 0.5;
    }
  }
  &__title-mobile {
    display: none;
  }

  @include media-breakpoint-down(md) {
    padding-left: 14px;
    background-color: #FFF;
    border-bottom: 1px solid #dde1e6;

    &__title-mobile {
      display: block;
      float: left;
      margin-left: 10px;
      margin-top: 4px;
      font-size: 17px;
      font-weight: 600;
      color: #3B4256;
    }
  }
  @include media-breakpoint-down(sm) {
    &__title-mobile {
      width: 110px;
      margin-top: 9px;
      font-size: 14px;
    }
  }
}

.header-user {
  float: right;
  position: relative;
  padding-top: 5px;
  &__link {
    color: #dde1e6;
    font-weight: 600;
    font-size: .875rem;
    padding-bottom: 10px;
    &:hover {
      color: #dde1e6;
    }
    .ic {
      fill: #f5f7fa;
    }
  }
  &__body {
    padding: 10px 12px 12px 16px;
  }
  &__content {
    @include cl;
  }
  &__img {
    position: relative;
    width: 136px;
    height: 136px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin-top: 5px;
    .ic {
      opacity: 0.7;
      font-size: 50px;
      position: absolute;
      left: 50%;
      top: 50%;
      color: #FFF;
    }
  }
  &__inner {
    padding-left: 160px;
    padding-top: 5px;
  }
  &__title {
    border-bottom: solid 3px #DDE1E6;
    color: #3b4256;
    font-weight: 600;
    line-height: 1.444;
    border-bottom: 3px solid #dde1e6;
    padding-bottom: 14px;
    padding-right: 15px;
  }
  &__subtitle {
    white-space: nowrap;
    display: block;
  }
  &__btn {
    display: block;
    margin-top: 10px;
    text-align: left;
    text-transform: none;
    letter-spacing: 0;
    font-size: 1rem;
    padding-left: 16px;
  }
  &__links {
    text-align: center;
    width: 190px;
  }
  &__links-item {
    position: relative;
    margin-right: 13px;
    margin-left: 9px;
    &:not(:last-child) {
      margin-bottom: 10px;
      padding-bottom: 13px;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        height: 1px;
        width: 123px;
        background-color: #dde1e6;
      }
    }
  }
  &__links-nav {
    color: $color-main;
    font-size: 1.125rem;
    font-weight: 600;
    position: relative;
    display: block;
  }

  @include media-breakpoint-down(md) {
    float: none;
    margin: 13px 0;
    text-align: center;

    &__link {
      color: #fff;
    }
    .ic {
      fill: #fff;
    }
    &__body {
      top: auto;
      bottom: 100%;
      left: calc(50% - 160px);
      width: 320px;
    }
    &__subtitle {
      white-space: normal;
    }
    &__img {
      width: 100px;
      height: 100px;
    }
    &__inner {
      padding-left: 120px;
    }
  }
}

.header-main {
  padding-top: 30px;
  .navbar-collapse {
    align-items: flex-start;
  }

  @include media-breakpoint-down(md) {
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFF;
    z-index: 100;
    box-shadow: 0 4px 4px 0 #676767;
    .navbar-collapse {
      padding-top: 20px;
      background-color: #08183B;
      &.show {
        min-height: 100vh;
      }
    }
    .navbar-toggler {
      position: absolute;
      right: 10px;
      top: 10px;
      fill: #d4d5d7;
    }
    &__inner {
      border-bottom: none;
    }
  }
}


.header-title {
  vertical-align: middle;
  font-size: 0.875rem;
  line-height: 1.4285;
  padding-top: 7px;
  padding-left: 40px;
  padding-bottom: 40px;
  &__main {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 10px;
  }
  &__subtitle {
    margin-bottom: 5px;
  }
  &__item {
    display: flex;
    align-items: center;
    &:nth-child(2) {
      &:before {
        margin-left: 18px;
        margin-right: 12px;
        content: '';
        width: 4px;
        height: 64px;
        display: inline-block;
        vertical-align: middle;
        background: linear-gradient(to bottom, #005bbb 0%,#005bbb 50%,#ffd500 50%,#ffd500 100%);
      }
    }
  }
  &__link {
    display: inline-block;
    max-width: 96px;
    margin-right: 30px;
  }

  @include media-breakpoint-down(lg) {
    padding-left: 0;
  }

  @include media-breakpoint-down(md) {
    display: block !important;
    position: relative;
    margin-top: 45px;
    padding-bottom: 25px;
    border-bottom: 1px solid #fff;
    &__main {
      display: block;
    }
    &__main,
    &__subtitle {
      color: #fff !important;
    }
  }
}


.header-logo {
  float: left;
  &__item {
    display: inline-block;
    &:nth-child(2) {
      &:before {
        margin-left: 8px;
        margin-right: 6px;
        content: '';
        width: 1px;
        height: 32px;
        display: inline-block;
        vertical-align: middle;
        background: linear-gradient(to bottom, #005bbb 0%,#005bbb 50%,#ffd500 50%,#ffd500 100%);
      }
    }
  }
  &__link {
    display: inline-block;
    max-width: 30px;
  }

  @include media-breakpoint-down(sm) {
    &__item {
      vertical-align: sub;
    }
    &__link {
      max-width: 30px;
    }
  }
}
