.section-contacts {}

.b-contacts-sm {
  padding: 30px;
  margin-bottom: 105px;
  background-color: #FFF;
  border-radius: 4px;
  &__title {
    color: $color-main;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
  }
  &__item {
    color: $color-light;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 25px;
    display: block;
  }

  @include media-breakpoint-down(lg) {
    margin-bottom: 45px;
    padding-bottom: 10px;
    &__item {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &__inner {
      margin-bottom: 50px;
    }
  }
}


.b-contacts-email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  &__item {
  }
  &__label {
    color: $color-light;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-bottom: 3px;
    padding-top: 3px;
    &:hover {
      color: $color-light;
    }
  }
  &__info {
    color: $color-main;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
  }
  &__btn {
    fill: #FFF;
    width: 48px;
    height: 48px;
    line-height: 48px;
    border-radius: 4px;
    text-align: center;
    transition: all .3s;
    &:hover {
      opacity: 0.5;
    }
  }

  @include media-breakpoint-down(lg) {
    padding-top: 0;
    padding-bottom: 27px;
    &__label {
      padding-top: 0;
    }
  }
}


.b-contacts {
  padding-bottom: 30px;
  font-size: 1.125rem;
  &__section {
    margin-top: 60px;
  }
  &__title {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.625rem;
    margin-bottom: 3px;
  }
  &__item {}
  &__link {
    color: $color-main;
  }
  &__phone {
    color: $color-main;
    font-size: 1.5rem;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 13px;
  }
  &__email {
    text-decoration: underline;
  }
  &__map {
    height: 357px;
  }

  @include media-breakpoint-down(md) {
    &__section {
      margin-top: 40px;
    }
    &__map {
      margin-top: 40px;
    }
  }
}

.b-contacts-person {
  padding-top: 20px;
  padding-left: 10px;
  &__main {
    padding-left: 20px;
    padding-top: 5px;
  }
  &__img {
    width: 140px;
    height: 140px;
    box-shadow: 0 0.75rem 1.25rem rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    overflow: hidden;
  }
  &__name {
    font-size: 1.5rem;
    letter-spacing: -0.012rem;
    margin-bottom: 5px;
  }
  &__category {
    color: $color-light;
  }

  @include media-breakpoint-down(md) {
    text-align: center;
    padding-left: 0;
    &__main {
      padding-left: 0;
    }
    &__img {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px;
    }
    &__inner {
      margin-bottom: 50px;
    }
  }
}

.b-contacts-form {
  margin-top: 55px;
}
