/*//////////////////////////////////////////////////////////////////////////////////////////*/
/* COLOR CSS 1*/
/*//////////////////////////////////////////////////////////////////////////////////////////*/


a,
a:hover,
.text-primary,
.list > li > a:hover,
.pager li > a:hover,
.pager li > a:hover .icon,
.search-close:hover,
.breadcrumb > li > a:hover,
.footer-nav__link:hover,
.bootstrap-select .dropdown-menu li a:hover,
.b-card:hover .b-card__title,
.comment-footer__link:hover {color: #2d5ca6;}


.bg-primary,
.btn-primary,
.ui-slider_dots_sm .slick-active button,
.custom-control-input:checked ~ .custom-control-label:before,
.b-contacts-email__btn {background-color: #2d5ca6;}


.btn-primary,
.bootstrap-select .bs-ok-default:after,
.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark,
.custom-control-input:checked ~ .custom-control-label:before,
.custom-control-label:not(disabled):hover:before,
.b-appeal-carousel__nav-item.slick-current,
.b-object-carousel__nav-item.slick-current {border-color: #2d5ca6;}


.slick-arrow:hover:before,
.slick-arrow:focus:before {
  border-top-color: #2d5ca6;
}
/* {border-right-color: #2d5ca6;} */

.pagination li.active a,
.pagination li.active span,
.main-menu__item.active,
.main-menu__item:hover {
  border-bottom-color: #2d5ca6;
}

.slick-arrow:hover:before,
.slick-arrow:focus:before {
  border-left-color: #2d5ca6;
}

#page-preloader .spinner {
  border-color: #2d5ca6 #2d5ca6 #2d5ca6 transparent;
}

.pagination__icon:hover {
  stroke: #2d5ca6;
}
.ic-primary {
  stroke: #2d5ca6 !important;
}

.fill-primary,
.comment-footer__link:hover .ic {
  fill: #2d5ca6;
}


/* Secondary color */

.btn-secondary,
.user-content ul li:before {
  background-color: #ffe358;
}

.btn-secondary {
  border-color: #ffe358;
}
