.main-menu {
  margin-left: auto;
  & &__item & {
    &__link {
      padding-left: 15px;
      padding-right: 15px;
      transition: none;
    }
  }
  &__item {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5px;
    min-height: 2rem;
    border-bottom: 2px solid transparent;
    transition: all .3s;
    &_trigger {
      .main-menu__link {
        &:after {
          content: none;
        }
      }
    }
  }
  &__link {
    color: $color-main;
    font-size: 0.875rem;
    font-weight: 600;
    position: relative;
    &:hover {
      color: inherit;
    }
    &[aria-expanded="true"] {
      background-color: #FFF;
      color: #4a4a4a;
    }
  }
  .dropdown-menu {
    margin-top: 0;
    top: calc(100% - 30px);
    border: none;
    border-radius: 0;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 7, 123, 0.04), 0 0.5rem 1.25rem rgba(0, 0, 0, 0.06);
    padding-left: 14px;
    padding-right: 7px;
    width: 18.75rem;
  }
  .dropdown-item {
    line-height: 1.125rem;
    font-weight: 600;
    color: #4a4a4a;
    padding: 14px 0;
    white-space: normal;
    &:not(:last-child) {
      border-bottom: 1px solid #dde1e6;
    }
    &:hover {
      background-color: transparent;
      opacity: 0.5;
    }
  }

  @include media-breakpoint-down(md) {
    margin-left: 0;
    padding-top: 30px;
    margin-bottom: 65px;
    & &__link {
      color: #FFF;
      padding-left: 0;
      font-size: 1rem;
    }
    & &__item & {
      &__link {
        padding-bottom: 0;
      }
    }
  }
}
