mixin navig()
  ul.main-menu.navbar-nav
    li.main-menu__item.nav-item.active
      a.main-menu__link.nav-link(href="#") Головна
        span.sr-only (поточна)
    li.main-menu__item.nav-item
      a.main-menu__link.nav-link(href="#") Мапа захистних<br>споруд
    li.main-menu__item.nav-item
      a.main-menu__link.nav-link(href="#") Додати захистну<br>споруду
    li.main-menu__item.nav-item
      a.main-menu__link.nav-link(href="#") Про проект
    li.main-menu__item.nav-item
      a.main-menu__link.nav-link(href="#") Контакти


  // end navig
